@supports (color: color(display-p3 1 1 1)) {
  :root {
    /* ================================================= */
    /* Gray */
    /* ================================================= */
    --color-primitive-gray-1: color(display-p3 0.988 0.988 0.988);
    --color-primitive-gray-2: color(display-p3 0.975 0.975 0.975);
    --color-primitive-gray-3: color(display-p3 0.939 0.939 0.939);
    --color-primitive-gray-4: color(display-p3 0.908 0.908 0.908);
    --color-primitive-gray-5: color(display-p3 0.88 0.88 0.88);
    --color-primitive-gray-6: color(display-p3 0.849 0.849 0.849);
    --color-primitive-gray-7: color(display-p3 0.807 0.807 0.807);
    --color-primitive-gray-8: color(display-p3 0.732 0.732 0.732);
    --color-primitive-gray-9: color(display-p3 0.553 0.553 0.553);
    --color-primitive-gray-10: color(display-p3 0.512 0.512 0.512);
    --color-primitive-gray-11: color(display-p3 0.392 0.392 0.392);
    --color-primitive-gray-12: color(display-p3 0.125 0.125 0.125);

    --color-primitive-gray-a1: color(display-p3 0 0 0 / 0.012);
    --color-primitive-gray-a2: color(display-p3 0 0 0 / 0.024);
    --color-primitive-gray-a3: color(display-p3 0 0 0 / 0.063);
    --color-primitive-gray-a4: color(display-p3 0 0 0 / 0.09);
    --color-primitive-gray-a5: color(display-p3 0 0 0 / 0.122);
    --color-primitive-gray-a6: color(display-p3 0 0 0 / 0.153);
    --color-primitive-gray-a7: color(display-p3 0 0 0 / 0.192);
    --color-primitive-gray-a8: color(display-p3 0 0 0 / 0.267);
    --color-primitive-gray-a9: color(display-p3 0 0 0 / 0.447);
    --color-primitive-gray-a10: color(display-p3 0 0 0 / 0.486);
    --color-primitive-gray-a11: color(display-p3 0 0 0 / 0.608);
    --color-primitive-gray-a12: color(display-p3 0 0 0 / 0.875);

    --color-primitive-gray-dark-1: color(display-p3 0.067 0.067 0.067);
    --color-primitive-gray-dark-2: color(display-p3 0.098 0.098 0.098);
    --color-primitive-gray-dark-3: color(display-p3 0.135 0.135 0.135);
    --color-primitive-gray-dark-4: color(display-p3 0.163 0.163 0.163);
    --color-primitive-gray-dark-5: color(display-p3 0.192 0.192 0.192);
    --color-primitive-gray-dark-6: color(display-p3 0.228 0.228 0.228);
    --color-primitive-gray-dark-7: color(display-p3 0.283 0.283 0.283);
    --color-primitive-gray-dark-8: color(display-p3 0.375 0.375 0.375);
    --color-primitive-gray-dark-9: color(display-p3 0.431 0.431 0.431);
    --color-primitive-gray-dark-10: color(display-p3 0.484 0.484 0.484);
    --color-primitive-gray-dark-11: color(display-p3 0.706 0.706 0.706);
    --color-primitive-gray-dark-12: color(display-p3 0.933 0.933 0.933);

    --color-primitive-gray-dark-a1: color(display-p3 0 0 0 / 0);
    --color-primitive-gray-dark-a2: color(display-p3 1 1 1 / 0.034);
    --color-primitive-gray-dark-a3: color(display-p3 1 1 1 / 0.071);
    --color-primitive-gray-dark-a4: color(display-p3 1 1 1 / 0.105);
    --color-primitive-gray-dark-a5: color(display-p3 1 1 1 / 0.134);
    --color-primitive-gray-dark-a6: color(display-p3 1 1 1 / 0.172);
    --color-primitive-gray-dark-a7: color(display-p3 1 1 1 / 0.231);
    --color-primitive-gray-dark-a8: color(display-p3 1 1 1 / 0.332);
    --color-primitive-gray-dark-a9: color(display-p3 1 1 1 / 0.391);
    --color-primitive-gray-dark-a10: color(display-p3 1 1 1 / 0.445);
    --color-primitive-gray-dark-a11: color(display-p3 1 1 1 / 0.685);
    --color-primitive-gray-dark-a12: color(display-p3 1 1 1 / 0.929);

    /* ================================================= */
    /* Mauve */
    /* ================================================= */

    /* ================================================= */
    /* Slate */
    /* ================================================= */

    /* ================================================= */
    /* Sage */
    /* ================================================= */

    /* ================================================= */
    /* Olive */
    /* ================================================= */

    /* ================================================= */
    /* Sand */
    /* ================================================= */

    /* ================================================= */
    /* Gold */
    /* ================================================= */

    /* ================================================= */
    /* Bronze */
    /* ================================================= */

    /* ================================================= */
    /* Brown */
    /* ================================================= */

    /* ================================================= */
    /* Yellow */
    /* ================================================= */

    /* ================================================= */
    /* Amber */
    /* ================================================= */

    /* ================================================= */
    /* Orange */
    /* ================================================= */

    /* ================================================= */
    /* Tomato */
    /* ================================================= */

    /* ================================================= */
    /* Red */
    /* ================================================= */

    /* ================================================= */
    /* Ruby */
    /* ================================================= */

    /* ================================================= */
    /* Crimson */
    /* ================================================= */

    /* ================================================= */
    /* Pink */
    /* ================================================= */

    /* ================================================= */
    /* Plum */
    /* ================================================= */

    /* ================================================= */
    /* Purple */
    /* ================================================= */

    /* ================================================= */
    /* Violet */
    /* ================================================= */

    /* ================================================= */
    /* Iris */
    /* ================================================= */

    /* ================================================= */
    /* Indigo */
    /* ================================================= */
  }
}
